.jumbotron {
  background-image: url("../img/jumbotron-image.jpg");
  height:440px;
  text-align: center;
}

.navbar {
  border-radius:0px;
}

form {
  width:50%;
  margin:0 auto;
}

.btn-primary {
  font-size:20px;
}

.col-sm-6 {
  border:1px solid #000;
  height:700px;
}

.container-fluid {
  max-width:1300px;
}
