.jumbotron {
  background-image: url("../img/jumbotron-image.jpg");
  height:440px;
  text-align: center;
}

.navbar {
  border-radius:0px;
}

.language-form {
  width:50%;
  margin:0 auto;
}

.language-btn {
  font-size:20px;
}

.col-sm-4 {
  height:700px;
}

.container-fluid {
  max-width:1300px;
}

.jobs-col {

}

.sidebar {
  width:332px;
  float:right;

}

.education-col {
  margin-right:30px;
}

.education-col, .jobs-col {
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
  border:1px solid #D7D7E4;
}

.widget {
  border:1px solid #D7D7E4;
  height:300px;
  width:300px;
  height:300px;
  padding:15px;
  padding-top:8px;
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
}

#widget-title-box-1 {
  height:40px;
}

#widget-1 {
  height:165px;
}
