
.jumbotron {
  background-image: url("../img/jumbotron-image.jpg");
  height:320px;
  text-align: center;
}

.navbar {
  border-radius:0px;
}

.language-form {
  width:50%;
  margin:0 auto;
}

.language-btn {
  font-size:16px;
}

#row-1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#row-2 {
  text-align: center;
  height: auto;
  margin-right: 0px;
  margin-bottom: 30px;
  /*padding-right: 0px;*/
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;

}
#row-2 img {
  height: 240px;
  width: 380px;
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
  margin-bottom: 30px;
}

.grey {
  color: #959595;
  font-size: 20px;
}

.title {
  text-align: center;
  font-size: 30px;
}

.col-sm-4 {
  height:700px;
}



.container-fluid {
  max-width:1300px;
}

.jobs-col {

}

.sidebar {
  width:332px;
  float:right;

}

.education-col {
  margin-right:35px;
}

.education-col, .jobs-col {
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
  border:1px solid #D7D7E4;
  margin-bottom:50px;
}

.widget {
  border:1px solid #D7D7E4;
  width:300px;
  padding:15px;
  padding-top:8px;
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
  margin-bottom:25px;
}

#widget-title-box-1 {
  height:40px;
}

#widget-1 {
  height:165px;
}

.youtube {
  min-height:300px;
}

#widget-2 {
  height:300px;
}

.img-car {
  height:201px !important;
  width:268px;
  max-height:201px;
  min-height:201px;
}

#row-3 {
  /*display:none;*/
}

.java, .javascript, .ruby, .php, .cSharp, .css {
  display:none;
}

#language-choice {
  font-size: 36px;
  color: #fff;
  line-height:32px;
  margin-bottom:30px;
  font-family: HelveticaNeue-Thin,HelveticaNeue-Light,HelveticaNeue,"Helvetica Neue Thin","Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif
}

.car-link {
  color:#fff;
  font-size:16px;
  text-decoration:none;
}

.widget-title-box {
  font-family:Roboto, sans-serif;
  color:#4f5c7b;
  font-size:12px;
}

.widget-title-box h4 {
  font-size:16px;
}

.widget-title-box-2 {
  margin-bottom:20px;
}

.car-link:hover {
  color:#000;
  text-decoration:underline;
}

.carousel-caption {
  left: 0px;
  right:0px;
  background-color:rgba(0, 0, 0, 0.4);
  position:relative;
  top:-72px;
  height:auto;
}

#widget-2 {
  height:265px;
}
#show-contact {
  display: none;
}

#portfolios {
  cursor: pointer;
  color: #0088cc;
}

#show-contact, #portfolios {
  font-size: 20px;
  margin-left: 30px;
}

#portColor, #aboutColor {
  color: #fff;
  line-height:32px;
  margin-bottom:30px;
  font-family: HelveticaNeue-Thin,HelveticaNeue-Light,HelveticaNeue,"Helvetica Neue Thin","Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif
}

#portDesc, #aboutDesc {
  color: #fff;
  font-family: HelveticaNeue-Thin,HelveticaNeue-Light,HelveticaNeue,"Helvetica Neue Thin","Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif
}
 .container .col-sm-4 {
   height: auto;
 }

 #match-col {
   box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.2), inset 0px 0px 2px 1px #fff;
   height:500px;
 }

 #studentProfile, #companyProfile {
   padding:15px;
   padding-top:5px;
 }

 #studentProfile {
   border-top: 1px dashed #d1d1d1;
 }

.col-sm-12 {
  /*height: 200px;*/
  height: auto;
}

 .portTitles, #new-portfolio, .indPort {
   color: #3B1153;
   font-family: HelveticaNeue-Thin,HelveticaNeue-Light,HelveticaNeue,"Helvetica Neue Thin","Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif

 }
 #new-portfolio {
   font-size: 20px;
 }

 .no-left-pad-col {
   padding-left:0 !important;
 }

#aboutBody {
  text-align: center;
  font-family: HelveticaNeue-Thin,HelveticaNeue-Light,HelveticaNeue,"Helvetica Neue Thin","Helvetica Neue Light","Helvetica Neue","Open Sans",Helvetica,Arial,sans-serif
}

#aboutBody p{
  font-size: 17px;
}

#aboutImg {
  border-radius: 50%;
  margin: auto;
  padding-bottom: 10px;
  width: 236px;
}
